<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/DefaultLayout}">

<head>
	<title>Register Style</title>
</head>

<body>
	<section class="aw-layout-content  js-content" layout:fragment="mainContent">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Style registration
				</h1>
			</div>
		</div>
		
		
		<div class="container-fluid">
			<th:block th:replace="fragments/SuccessMessage :: success"></th:block>
			<form method="POST" th:object="${style}" class="form-vertical  js-form-loading">
				<th:block th:replace="fragments/ValidationErrorMessage :: validationError"></th:block>
				<div class="row">
					<div class="col-sm-12 form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
						<label for="name" class="control-label">Name</label>
						<input type="text" id="name" class="form-control" th:field="*{name}">
					</div>
				</div>
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>