<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/DefaultLayout}">

<head>
	<title>Register Style</title>
</head>

<body>
	<section class="aw-layout-content  js-content" layout:fragment="mainContent">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Style registration
				</h1>
			</div>
		</div>
		<div class="container-fluid">
			<form method="get" class="form-vertical  js-form-loading">
				<div class="row">
					<div class="col-sm-12 form-group">
						<label for="styleName">Name</label>
						<input type="text" id="styleName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>